{% extends 'base.html'%} {% block content %}

<section class="wrapper">
  <aside class="sidebar">
      <div>
          <div class="logo-wrapper">
              <img src="../static/images/logo nekretnine.svg" alt="">
          </div>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href={{url_for('render_kuce')}}
                  > <i class="fa-solid fa-house mr-2"></i>Kuce</a
                >
              </li>
              <li class="nav-item ">
                <a class="nav-link" href={{url_for('render_stanovi')}}
                > <i class="fa-solid fa-building mr-2"></i>Stanovi</a
              >
              </li>
              <li class="nav-item ">
                <a class="nav-link" href={{url_for('render_lokali')}}
                  ><i class="fa-solid fa-shop mr-2"></i>Lokali</a
                >
              </li>
            </ul>
            {% if role() == 'admin' %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active-link">
                <a class="nav-link" href={{url_for('render_korisnici')}}
                  > <i class="fa-solid fa-user mr-2"></i>Korisnici</a
                >
              </li>
            </ul>
              
          
        {% endif %} 
      </div>

    
      
      <form action={{url_for('logout')}} class="form-inline my-2 my-lg-0 logout">
        <button type="submit" class=" logout-btn btn">
           Odjavi se
          <i class="fa-solid fa-right-from-bracket ml-3"></i>
        </button>
    </form>
  </aside>

  <div class="content" style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="row new-user-wrapper ">
      
      <h3>Novi korisnik</h3>

      <form action="{{ url_for('korisnik_novi') }}" method="POST">
        <div class="form-group">
          <label for="first_name">Ime</label>
          <input type="text" class="form-control" name="first_name" required />
        </div>
        <div class="form-group">
          <label for="last_name">Prezime</label>
          <input type="text" class="form-control" name="last_name" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" required />
        </div>
        <div class="form-group">
                    <label for="role">Izaberi rolu</label>

          <select name="role" class="form-control">
            <option selected disabled>Izaberite rolu</option>
            <option value="admin">Administrator</option>
            <option value="user">User</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Lozinka</label>
          <input type="password" class="form-control" name="password" required />
        </div>
        <input type="submit" value="Sacuvaj" class="logout-btn btn" />
      </form>
  </div>
           
      
  </div>
</section>



{% endblock %}
