{% extends 'base.html' %} {% block content %}


<section class="wrapper">
    <aside class="sidebar">
        <div>
            <div class="logo-wrapper">
                <img src="../static/images/logo nekretnine.svg" alt="">
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href={{url_for('render_kuce')}}
                    > <i class="fa-solid fa-house mr-2"></i>Kuce</a
                  >
                </li>
                <li class="nav-item active-link">
                  <a class="nav-link" href={{url_for('render_stanovi')}}
                  > <i class="fa-solid fa-building mr-2"></i>Stanovi</a
                >
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href={{url_for('render_lokali')}}
                    ><i class="fa-solid fa-shop mr-2"></i>Lokali</a
                  >
                </li>
              </ul>
              {% if role() == 'admin' %}
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href={{url_for('render_korisnici')}}
                    > <i class="fa-solid fa-user mr-2"></i>Korisnici</a
                  >
                </li>
              </ul>
                
            
          {% endif %} 
        </div>

      
        
        <form action={{url_for('logout')}} class="form-inline my-2 my-lg-0 logout">
          <button type="submit" class=" logout-btn btn">
             Odjavi se
            <i class="fa-solid fa-right-from-bracket ml-3"></i>
          </button>
      </form>
    </aside>

    <div class="content">
      {% if role() == 'admin' %}
        <div class="mx-auto content-header">
          <h3>Stanovi</h3>
            <a href={{url_for('add_stan')}} class=" add-stan-btn btn "> <i class="fa-solid fa-plus mr-2"></i>Dodaj Stan</a>
        </div>
      {% endif %}  

            <div class="row mt-4">
              {% for stan in stanovi %}
              <div class="card mb-4 mx-auto" style="width: 28%">
                <img
                  class="card-img-top"
                  style="width: 100%; height: 15rem"
                  src="{{stan.slika}}"
                  alt="Slika Stana"
                />
                <div class="p-3">
                  <h5 class="card-title">{{stan.adresa}}</h5>
                  <p > <span class="font-weight-bold">Oglasavac:</span>  {{stan.oglasavac}}</p>
                  <p > <span class="font-weight-bold">Broj soba:</span> {{stan.broj_soba}}</p>
                  <p > <span class="font-weight-bold">Kvadratura:</span> {{stan.kvadratura}} ㎡</p>
                  <p > <span class="font-weight-bold">Cena po kvadratu:</span> {{stan.cena_po_kvadratu}} &euro;	</p>
                  <p > <span class="font-weight-bold">Cena u eurima:</span> {{stan.cena}}&euro;	 </p>

                  <div class="card-actions mt-3">
                    <a href={{url_for('render_stan_by_id', id=stan.id) }} class="btn detail-btn">Detalji</a>

                    {% if role() == 'admin' %}
                    <div class="action-btns">
                      <a href={{url_for('update_stan', id=stan.id) }} class="btn a-btn mr-2 "><i class="fa-solid fa-pen"></i></a>
                      <form action={{ url_for("delete_stan_by_id" , id=stan.id) }} method="POST" >
                        <button class="btn a-btn delete-btn">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </form>
                    </div>
                      
                    {% endif %} 
                  </div>
                 
                </div>
              </div>
              {% endfor %}
            </div>
        
    </div>
</section>



{% endblock %}
